/*
  Stylesheet for Pokedex
*/
:root {
    --black: #000000;
    --grey: oklch(60.84% 0.025 107.12);
    --grey-100: oklch(60.84% 0.025 107.12 / 10.18%);
    --white: #FFFFFF;
    --brown: #947352;
    --red: #D64A31;
    --purple: #AD76B4;
    --violet: #ADB5FF;
    --pink: #FFC5D6;
    --yellow: #A87C00;
    --green: #6BAD7B;
    --blue: #2987DE;
}

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
color: var(--black);
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}

ul, li, button {
    padding: 0;
    list-style: none;
}
#root, #__next {
isolation: isolate;
font-size: 62.5%;
}
a {
    text-decoration: none;
}
button, input {
    appearance: none;
    border: none;
    background: none;
}
button {
    cursor: pointer;
}

/* Header */
.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--red);
}
.header__topbar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    gap: 1.2rem;
 }
.header__topbar-title {
    display: flex;
    align-items: center;
    color: var(--white);
}
.header__topbar-tools {
    display: flex;
    gap: 1.2rem;
}
.header__search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header__search-input {
    width: 12rem;
    padding: 0 .8rem;
    font-size: 1.6rem;
    background-color: var(--white);
}
.header__search-input:focus {
    outline: none;
    border-color: var(--black);
}
.header__search-input::placeholder {
    opacity: .5;
    font-size: 1.2rem;
}
.header__search-input:focus::placeholder {
    opacity: 0;
}
.header__search-submit[disabled] {
    opacity: .6;
    background-color: var(--white);
    border-color: var(--grey);
}
.header__search-submit[disabled]:hover {
    color: var(--grey);
    background-color: var(--white);
}
.header__search-submit {
    color: var(--black);
    background-color: var(--white);
    padding: 0 .8rem;
}
.header__search-submit:hover {
    color: var(--white);
    background-color: var(--white);
}
.btn--show-filter-list {
    padding: 0;
    color: var(--white);
}
.header__filter {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    gap: 2.4rem;
    background-color: var(--white);
    max-height: 65vh;
    transition: max-height .3s ease-in-out, padding .3s ease-in-out, gap .3s ease-in-out;
    overflow: hidden;
}
.header__filter.hidden--filter {
    max-height: 0;
    padding: 0 1.2rem 0 1.2rem;
}

.types__topbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.types__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.types__grid-item {
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
    input {
        cursor: pointer;
    }

    span {
        font-weight: 100;
    }
}
.type-filter__name {
    font-size: 1.6rem;
}
.btn--type-filter {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid;
}
.btn--type-filter:checked::before {
    position: absolute;
    content: 'x';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
}
.header__filter-buttons {
    display: flex;
    justify-content: space-between;
}
.btn--apply-filter, .btn--reset-filter  {
    padding: .6rem 1.2rem;
    color: var(--white);
    box-shadow: var(--red);
}
.btn--apply-filter {
    background-color: var(--red);
}
.btn--reset-filter {
    background-color: var(--grey);
}

/* Pokedex list */
.pokedex {
    position: relative;
    display: flex;
    flex-direction: column;
    // gap: 1.2rem;
    // padding: 6.8rem 1.6rem 4.4rem 1.6rem;
    background-color: var(--white); 
}

.pokedex__loading {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.pokedex__blank {
    z-index: 2;
    position: fixed;
    opacity: .5;
    background-color: var(--black);
    inset: 0 0 0 0;
}
.pokedex__results {
    padding: 6.8rem 1.6rem 1.6rem 1.6rem;
}
.pokedex__list {
    display: grid;
    gap: 1.6rem;
    padding: 0 1.6rem 7.2rem 1.6rem;
}
.btn--show-next {
    text-align: center;
    padding: .4rem;
    margin: 1.6rem 1.6rem 4.8rem 1.6rem;
    border: 1px solid var(--purple);
    border-radius: 2.4rem;
    color: var(--purple);
    background-color: var(--white);
}
/* Pokemon */
.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    gap: 1.2rem;
    border-radius: 1.2rem;
    background-color: var(--grey-100);
}

.pokemon-sprite, .pokemon-sprite--details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    height: 24rem;
}
.pokemon-sprite--details {
    height: 16rem;
}
.pokemon-data {
    width: 100%;
    border: 1px solid var(--grey--100);
    display: grid;
    gap: 1.2rem;
}
.pokemon-data-row {
    display: flex;
    gap: .8rem;
    justify-content: center;
}
.pokemon-number {
    border-bottom-right-radius: 1.2rem;
}
.pokemon-types {
    display: flex;
    justify-content: center;
    gap: .8rem;
}
.pokemon-type {
    font-weight: 600;
    padding: .2rem .8rem;
    border-radius: 1.2rem;
}
.btn--show-details {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
/* Pokemon Details Card */
.pokedex__pokemon-details-card {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    gap: 2.4rem;
    box-shadow: 0 0 .4rem var(--grey);
    border-radius: 1.6rem;
}
.pokemon-close-btn {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 2.4rem;
    padding: .4rem 1.2rem;
    &:hover {
        background-color: var(--black);
        button {
            color: var(--white);
        }
    }
}
.pokemon-info {
    display: grid;
    grid-template-rows: auto 1fr;
    flex: 1;
}
.pokemon-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 6.4rem;
    background-color: var(--grey-100);
    gap: 1.2rem;
}
.pokemon-details-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.6rem;
    gap: 3.2rem;
}
.pokemon-name {
    font-weight: 100;
}
.pokemon-detail-title {
    font-weight: 600;
    color: var(--grey);
}
.pokemon-detail {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.pokemon-stat {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
}

.pokemon-stat--name,
.pokemon-stat--value,
.pokemon-ability {
    font-weight: 100;
    // min-width: 50%;
    text-transform: uppercase;
}
.pokemon-ability {
    display: flex;
}
.pokemon-types {
    gap: 1.2rem;
}
/* Types */
.pokemon-type--normal {
    color: var(--black);
    background-color: var(--white);
}
.pokemon-type--fighting {
    color: var(--grey);
    background-color: var(--white);
}
.pokemon-type--bug {
    color: var(--green);
    background-color: var(--white);
}
.pokemon-type--ghost {
    color: var(--white);
    background-color: var(--violet);
}
.pokemon-type--rock {
    color: var(--white);
    background-color: var(--grey);
}
.pokemon-type--fire {
    color: var(--red);
    background-color: var(--white);
}
.pokemon-type--flying {
    color: var(--yellow);
    background-color: var(--white);
}
.pokemon-type--ground {
    color: var(--white);
    background-color: var(--brown);
}
.pokemon-type--poison {
    color: var(--white);
    background-color: var(--purple);
}
.pokemon-type--grass {
    color: var(--white);
    background-color: var(--green);
}
.pokemon-type--water {
    color: var(--white);
    background-color: var(--blue);
}
.pokemon-type--ice {
    color: var(--blue);
    background-color: var(--white);
}
.pokemon-type--psychic {
    color: var(--violet);
    background-color: var(--white);
}
.pokemon-type--dragon {
    color: var(--white);
    background-color: var(--red);
}
.pokemon-type--electric {
    color: var(--white);
    background-color: var(--yellow);
}
.pokemon-type--fairy {
    color: var(--purple);
    background-color: var(--white);
}

/* Footer */
.footer {
    position: fixed;
    inset: auto 0 0 0;
    display: flex;
    justify-content: space-between;
    // z-index: 1;
    padding: .6rem 1.2rem;
    color: var(--grey);
    background-color: var(--white);
    text-align: right;
    p {
        text-transform: lowercase;
        font-weight: 100;
    }
} 

/* Typo */
p, h1, h2, h3, h4, h5, h6, span, input, button {
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
h1 {
    font-size: clamp(1.8rem, 4vw, 2.4rem);
    font-weight: 300;
}
h2, h3 {
    font-size: clamp(1.2rem, 6vw, 1.6rem);
}
h3 {
    font-weight: 100;
}
p, span, button {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
}
/* 480px */
@media all and (min-width: 480px) {
    .pokedex__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .pokedex__pokemon-details-card {
        min-width: 75%;
    }
}
/* 720px */ 
@media all and (min-width: 720px) {

    /* Header */
    .header__topbar {
        padding: 1.2rem 2.4rem 1.2rem 2.4rem;
        gap: 2.4rem;
    }
    .header__topbar-tools {
        gap: 2.4rem;
    }
    .header__search-input {
        width: 24rem;
        padding: 0.8rem;
    }
    .header__search-submit {
        padding: 0rem 1.2rem;
    }
    .header__filter {
        padding: 2.4rem 2.4rem 2.4rem 2.4rem;
        gap: 3.2rem;
    }
    .header__filter.hidden--filter {
        padding: 0 2.4rem 0 2.4rem;
    }
    .types__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
    }
    .types__grid-item {
        gap: 1.2rem;
    }
    .btn--type-filter {
        width: 2.4rem;
        height: 2.4rem;
    }
    .btn--apply-filter {
        padding: .8rem;
    }

    /* Pokedex list */
    .pokedex {
        // gap: 3.2rem;
        // padding: 9.6rem 2.4rem 10.4rem 2.4rem;
    }
    .pokedex__results {
        padding-top: 8rem;
    }
    .pokedex__list {
        gap: 2.4rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .btn--show-next {
        padding: .8rem;
    }
    .btn--show-next:hover {
        color: var(--white);
        background-color: var(--purple);
    }
    /* Pokemon */
    .pokemon-card {
        padding: 2.4rem;
        gap: 1.2rem;
        opacity: .8;
    }
    .pokemon-card:hover {
        opacity: 1;
    }
    .pokemon-types {
        gap: 0.8rem;
    }
    .pokemon-type {
        padding: .6rem 1.2rem;
        border-radius: 2.4rem;
    }
    
    /* Pokemon Details Card */
    .pokedex__pokemon-details-card {
        // inset: 8rem 2.4rem 6rem 2.4rem;
        // padding: 2.4rem;
        gap: 2.4rem;
    }
    .pokemon-close-btn {
        right: 3.2rem;
        bottom: 3.2rem;
    }
    .pokemon-info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        // gap: 2.4rem;
    }
    .pokemon-main-info,
    .pokemon-stat,
    .pokemon-detail {
        gap: 1.6rem;
    }
    .pokemon-main-info, .pokemon-details-info {
        padding: 3.2rem;
    }
    .pokemon-details-info {
        grid-template-columns: repeat(2, 1fr);
        gap: 8.8rem;
    }
    .pokemon-types {
        gap: 3.2rem;
    }
    .pokemon-type {
        padding: .6rem 2.4rem;
    }
    /* Footer */
    .footer {
        padding: 1.2rem 2.4rem 1.2rem 2.4rem;
    }
    
    /* Utilities */
    .hover-shadow:hover, .hover-shadow:checked {
        box-shadow: 0 0 .4rem var(--grey);
    }
    .hover-shadow--red:hover, .hover-shadow--red:checked {
        box-shadow: 0 0 .4rem var(--red);
    }
    .hover--bb-w {
        position: relative;
    }
    .hover--bb-w:hover::before {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        content: "";
        background-color: var(--white);
    }
}
/* 1280px */
@media all and (min-width: 1280px) {
    /* Pokedex */
    .pokedex__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .pokemon-info {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Typo */
    p, h2, h3, button {
        font-size: clamp(1.2rem, 3vw, 1.6rem);
    }
}

/* Utilities */
.hidden {
    display: none;
}
