/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
height: 100dvh;
max-height: 100dvh;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
ul, li {
    list-style: none;
}
#root, #__next {
isolation: isolate;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    color: white;
    padding: 0 24px;
    height: 64px;
    text-align: center;
  }
  main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 112px);
  }
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto; /* Solo se aplica al área principal */
    height: 100%;
  }
  ul {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
  }
  aside {
    width: 480px;
    height: 100%;
    padding: 0 24px;
    background-color: red;
  }
  .pokedex__pokemon-stats {
    background-color: white;
  }
  .pokemon-id {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  footer {
    background-color: red;
    color: white;
    padding: 12px;
    text-align: center;
    position: fixed;
    inset: auto 0 0 0;
  }

/* Button */
.btn {
    appearance: none;
    border: none;
    width: 100%;
    padding: 12px;
    background-color: transparent;
}
.btn--show-more {
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
}