/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
    --black: #000000;
    --grey: #848473;
    --white: #FFFFFF;
    --brown: #947352;
    --red: #D64A31;
    --purple: #AD76B4;
    --violet: #ADB5FF;
    --pink: #FFC5D6;
    --yellow: #A87C00;
    --green: #6BAD7B;
    --blue: #2987DE;
}
html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
color: var(--black);
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}

ul, li {
    padding: 0;
    list-style: none;
}
#root, #__next {
isolation: isolate;
font-size: 62.5%;
}
a {
    text-decoration: none;
}
button, input {
    appearance: none;
    border: none;
    background: none;
}
button {
    cursor: pointer;
}

/* Header */
.header {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
}
.header__topbar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    gap: 1.2rem;
 }
.header__topbar-title {
    display: flex;
    align-items: center;
    color: var(--black);
}
.header__topbar-tools {
    display: flex;
    gap: 1.2rem;
}
.header__search {
    width: fit-content;
    display: flex;
}
.header__search-input {
    border: 1px solid var(--black);
    width: 16rem;
    padding: 0 .4rem;
}
.header__search-input:focus {
    outline: none;
    border: 2px solid;
}
.header__search-input::placeholder {
    opacity: .5;
}
.header__search-input:focus::placeholder {
    opacity: 0;
}
.header__search-submit[disabled] {
    color: var(--grey);
    background-color: var(--white);
}
.header__search-submit[disabled]:hover {
    color: var(--grey);
    background-color: var(--white);
}
.header__search-submit {
    border: 1px solid var(--black);
    border-left: none;
}
.header__search-submit:hover {
    color: var(--white);
    background-color: var(--black);
}
.btn--show-filter-list {
    padding: 0;
}
.btn--show-filter-list:hover {
    border-bottom: 1px solid;
}
.header__filter {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    gap: 2.4rem;
    max-height: 40rem;
    transition: max-height .3s ease-in-out, padding .3s ease-in-out, gap .3s ease-in-out;
    overflow: hidden;
}
.header__filter.hidden--filter {
    max-height: 0;
    /* gap: 0; */
    padding: 0 1.2rem 0 1.2rem;
}

.types__topbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.types__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.types__grid-item {
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
    input {
        cursor: pointer;
    }

    span {
        font-weight: 100;
    }
}
.btn--type-filter {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid;
}
.btn--type-filter:checked::before {
    position: absolute;
    content: 'x';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
}
.header__filter-buttons {
    display: flex;
    justify-content: space-between;
}
.btn--apply-filter, .btn--reset-filter  {
    border: 1px solid;
    padding: .8rem;
}

/* Pokedex list */
.pokedex {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 5.8rem .8rem 4.4rem .8rem;
}
.pokedex__loading {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.pokedex__blank {
    position: fixed;
    opacity: .5;
    background-color: var(--white);
    inset: 0 0 0 0;
}
.pokedex__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
}
.pokedex__grid-item {
    display: flex;
    flex-direction: column;
}
.btn--show-next {
    text-align: center;
    padding: .4rem;
    border: 1px solid;
}
/* Pokemon */
.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
    padding: .8rem;
    gap: .8rem;
}
.pokemon-card:hover {
    border-color: var(--black);
}

.pokemon-sprite,
.pokemon-number,
.pokemon-name,
.pokemon-types {
    z-index: -1;
}
.pokemon-sprite {
    display: flex;
    width: 5.6rem;
    height: 5.6rem;
    align-items: center;
    justify-content: center;
}
.pokemon-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: .8rem;
}
.pokemon-types {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}
.pokemon-type {
    border: 1px solid;
    padding: .4rem .8rem;
    font-size: 1rem;
}
/* Pokemon Details Card */
.pokedex__pokemon-details-card {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid;
    padding: 1.2rem;
    gap: .8rem;
    box-shadow: .4rem .4rem var(--black);
}
.pokemon-close-btn {
    display: flex;
    justify-content: flex-end;
}
.btn--close-pokemon-details {
    border: 1px solid;
    padding: .8rem;
}
.pokemon-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.pokemon-details-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.pokemon-stats, .pokemon-abilities {
    display: flex;
    flex-direction: column;
}
.pokemon-stat {
    display: flex;
    gap: .4rem;
}
.pokemon-stat--name,
.pokemon-stat--value {
    min-width: 120px;
}
.pokemon-ability {
    display: flex;
}
.pokemon-types {
    gap: 1
}
/* Types */
.pokemon-type--normal {
    color: var(--black);
}
.pokemon-type--fighting {
    color: var(--grey);
}
.pokemon-type--bug {
    color: var(--green);
}
.pokemon-type--ghost {
    color: var(--white);
    background-color: var(--violet);
}
.pokemon-type--rock {
    color: var(--white);
    background-color: var(--grey);
}
.pokemon-type--fire {
    color: var(--red);
}
.pokemon-type--flying {
    color: var(--yellow);
}
.pokemon-type--ground {
    color: var(--white);
    background-color: var(--brown);
}
.pokemon-type--poison {
    color: var(--white);
    background-color: var(--purple);
}
.pokemon-type--grass {
    color: var(--white);
    background-color: var(--green);
}
.pokemon-type--water {
    color: var(--white);
    background-color: var(--blue);
}
.pokemon-type--ice {
    color: var(--blue);
}
.pokemon-type--psychic {
    color: var(--violet);
}
.pokemon-type--dragon {
    color: var(--white);
    background-color: var(--red);
}
.pokemon-type--electric {
    color: var(--white);
    background-color: var(--yellow);
}
.pokemon-type--fairy {
    color: var(--purple);
}

/* Footer */
.footer {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1;
    padding: .8rem;
    background-color: var(--white);
    border-top: 1px solid;
    text-align: right;
    p {
        text-decoration: line-through;
    }
} 

/* Typo */
p, h1, h2, h3, h4, h5, h6, span, input, button {
    overflow-wrap: break-word;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-size: 1.6rem;
}
p, span, button, input {
    font-size: 1.2rem;
}

/* MQ */ 
@media all and (min-width: 72rem) {

    /* Header */
    .header__topbar {
        padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    }
    .header__topbar-title:hover {
        border-bottom: 1px solid;
    }
    .header__topbar-tools {
        gap: 2.4rem;
    }
    .header__search-input {
        width: 24rem;
        padding: 0 .8rem;
    }
    .header__filter {
        padding: 2.4rem 2.4rem 2.4rem 2.4rem;
        gap: 3.2rem;
    }
    .header__filter.hidden--filter {
        padding: 0 2.4rem 0 2.4rem;
        /* gap: 0; */
    }
    .types__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
    }
    .types__grid-item {
        gap: 1.2rem;
        span {
            font-size: 1.6rem;
        }
    }
    .btn--type-filter {
        width: 2.4rem;
        height: 2.4rem;
    }
    .btn--apply-filter {
        padding: .8rem;
    }

    /* Pokedex list */
    .pokedex {
        gap: 3.2rem;
        padding: 9.6rem 2.4rem 10.4rem 2.4rem;
    }
    .pokedex__list {
        gap: 2.4rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .btn--show-next {
        padding: .8em;
        border: 1px solid;
    }
    /* Pokemon */
    .pokemon-card {
        padding: 2.4rem;
        gap: 1.2rem;
    }
    .pokemon-card:hover {
        border: 1px solid;
    }
    .pokemon-number {
        padding: 1.2rem;
    }
    .pokemon-types {
        gap: 0.8rem;
    }
    .pokemon-type {
        padding: .6rem 1.2rem;
        font-size: 1.2rem;
    }
    
    /* Pokemon Details Card */
    .pokedex__pokemon-details-card {
        padding: 2.4rem;
        gap: 1.2rem;
    }
    .pokemon-main-info,
    .pokemon-details-info,
    .pokemon-stat {
        gap: .8rem;
    }
    .pokemon-stat--name,
    .pokemon-stat--value {
        min-width: 24rem;
    }
    .pokemon-types {
        gap: 1.2rem;
    }
    /* Footer */
    .footer {
        padding: 2.4rem;
    }

    /* Typo */
    
    h1,
    h2,
    h3 {
        font-size: 2rem;
    }
    p, span, button, input {
        font-size: 2rem;
    }
    /* Utilities */
    .hover-shadow:hover, .hover-shadow:checked {
        transform: translate(-.4rem, -.4rem);
        box-shadow: .4rem .4rem var(--black);
    }
}

/* Utilities */
.hidden {
    display: none;
}
.hover-shadow {
    box-shadow: 0 0 var(--black);
    transition: transform .2s ease-in-out, .2s ease-in-out;
}

.hover-shadow:checked {
    transform: translate(-.4rem, -.4rem);
    box-shadow: .4rem .4rem var(--black);
}