/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
ul, li {
    list-style: none;
}
#root, #__next {
isolation: isolate;
}

/* List */
.pokedex__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
    padding: 1.2rem;
}
.pokedex__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 1.2rem;
    padding: 1.2rem;
}
.pokemon-number {
    font-weight: 600;
}
.pokemon-name {
    text-transform: capitalize;
}
.pokedex__button--show-more {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button */
.btn {
    appearance: none;
    border: none;
    padding: 1.2rem;
    background-color: transparent;
}
.btn--show-more {
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
}